<div class="row">
    <div class="col-8">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">Всего комментариев: <span class="badge bg-secondary">{{ comments.count }}</span></h5>
            {% if sort == 'creation_date' %}
                <a href="{% querystring sort='-creation_date' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-arrow-up-short-wide"></i>
                    Сортировка
                </a>
            {% elif sort == '-creation_date' %}
                <a href="{% querystring sort='creation_date' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                    Сортировка
                </a>
            {% else %}
                <a href="{% querystring sort='-creation_date' %}" class="btn btn-outline-secondary btn-sm">
                    <i class="fa-solid fa-arrow-up-short-wide"></i>
                    Сортировка
                </a>
            {% endif %}
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-8">
        <ul class="list-group mb-3">
            {% for comment in page_comment %}
                <li class="list-group-item d-flex align-items-start">
                    <div class="w-100">

                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ comment.author }}</h5>
                            <small class="text-muted">
                                {{ comment.creation_date|date:'d.m.Y' }}
                                {{ comment.creation_date|time:'H:i ' }}
                            </small>
                        </div>
                        <p class="mb-1">
                            {{ comment.text }}
                        </p>

                        <small>
                            <a href="#" class="text-decoration-none me-2">Ответить</a>
                            <a href="#" class="text-decoration-none me-2">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </a>
                            <a href="#" class="text-decoration-none">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </a>
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if page_comment.has_other_pages %}
            <nav aria-label="Пагинация статей">
                <ul class="pagination justify-content-center">

                    <li class="page-item {% if not page_comment.has_previous %}disabled{% endif %}">
                        <a class="page-link"
                           {% if page_comment.has_previous %}href='{% querystring page=page_comment.previous_page_number %}'
                           {% endif %} tabindex="-1" aria-disabled="true">Предыдущая</a>
                    </li>

                    {% for num in page_comment.paginator.page_range %}
                        {% if page_comment.number == num %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href={% querystring page=num %}>{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href='{% querystring page=num %}'>{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not page_comment.has_next %}disabled{% endif %}">
                        <a class="page-link"
                           {% if page_comment.has_next %}href='{% querystring page=page_comment.next_page_number %}'{% endif %}>Следующая</a>
                    </li>

                </ul>
            </nav>
        {% endif %}
    </div>
</div>