{% load my_tags %}
<div class="container my-4">
    <div class="position-relative mb-4">
        <a href="{% url 'snippets-list' %}"
           class="btn btn-outline-secondary position-absolute start-0 top-50 translate-middle-y">
            <i class="bi bi-arrow-left"></i> Назад</a>


        <div class="col text-center h4">Информация о сниппете</div>

        {% if request.user.is_authenticated %}

            <div class="position-absolute end-0 top-50 translate-middle-y">
                <div class="btn-group" role="group">
                    <form method="post" action="{% url 'subscribe' snippet.id %}" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success">Подписаться</button>
                    </form>
                    <a href="{% url 'snippet-edit' snippet.id %}" class="btn btn-outline-primary">Изменить</a>
                    <a href="{% url 'snippet-delete' snippet.id %}" class="btn btn-outline-danger">Удалить</a>
                </div>
                {% if errors %}
                    <div class="alert alert-danger p-2 mb-0" role="alert" style="min-width: 250px;">
                        <ul class="mb-0 ps-3">
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>


    <div class="row g-4">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="info-row">
                        <span>Название:</span>
                        <span>{{ snippet.name }}</span>
                    </div>

                    <div class="info-row">
                        <span>Просмотры:</span>
                        <span>{{ snippet.views_count }}</span>
                    </div>

                    <div class="info-row">
                        <span>Дата создания:</span>
                        <span>{{ snippet.creation_date|date:'d.m.Y' }} {{ snippet.creation_date|time:'H:i' }}</span>
                    </div>

                    <div class="info-row">
                        <span>Последние изменения:</span>
                        <span>{{ snippet.updated_at|date:'d.m.Y' }} {{ snippet.updated_at|time:'H:i ' }}</span>
                    </div>

                    <div class="info-row">
                        <span>Доступ:</span>
                        {% if snippet.access == "public" %}
                            <span>Открытый</span>
                            <i class="fa-solid fa-lock-open"></i>
                        {% else %}
                            <span>Закрытый</span>
                            <i class="fa-solid fa-lock"></i>
                        {% endif %}
                    </div>

                    <div class="info-row">
                        <span>Автор:</span>
                        <span>{{ snippet.user }}</span>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    Описание сниппета
                </div>
                <div class="card-body">
                    <p class="card-text">{{ snippet.description }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title mb-0">Код сниппета <i class="{{ snippet.lang | get_lang_icon }}"></i></h5>

                    </div>
                    <pre><code class="language-{{ snippet.lang|default:'python' }}">{% autoescape on %}
                        {{ snippet.code }}{% endautoescape %}</code></pre>
                </div>
            </div>
        </div>
        {# Отображения тегов #}
        <div class="col-md-3">
            <h5>Теги:</h5>
            {% if snippet.tags.all %}
                {% for tag in snippet.tags.all %}
                    <a href="{% url 'snippets-list' %}{% querystring tag=tag.name %}"
                       class="badge bg-success me-2 mb-1">{{ tag.name }}</a>
                {% endfor %}
            {% else %}
                Отсутствуют
            {% endif %}
        </div>

    </div>
</div>

