
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                {# верхнее табло #}
                {% include 'pages/components/snippets_list_header.html' %}

                <tbody>
                {% for snippet in page_obj %}
                    <tr>
                        <td scope="row">{{ snippet.id }}
                            {% if snippet.access == "public" %}
                                <i class="fa-solid fa-lock-open"></i>
                            {% else %}
                                <i class="fa-solid fa-lock"></i>
                            {% endif %}</td>
                        <td>
                            <i class="{{ snippet.icon }}"></i>
                            <a class="text-light text-decoration-none fw-bold"
                               href="{% url 'snippet-page' snippet.id %}">{{ snippet.name }}</a>
                        </td>

                        <td class="text-center">
                            {{ snippet.updated_at|date:'d.m.Y' }}
                            {{ snippet.updated_at|time:'H:i ' }}
                        </td>

                        <td class="text-center">
                            {{ snippet.views_count }}
                        </td>

                        <td>
                            {{ snippet.user }}
                        </td>
                    </tr>
                {% empty %}
                    <tr class="text-center">
                        <td colspan="12">На данный момент список пуст</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            <div class="d-flex justify-content-end">
                <i class="text-muted">Всего сниппетов: {{ snippets.count }}</i>
            </div>
        </div>
    </div>