<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <li class="nav-item">

        <a class="btn btn-outline-secondary" href="{% url 'snippets-add' %}">Добавить сниппет</a>

        <a class="btn btn-outline-info" href="{% url 'snippets-list' %}">Cписок всех сниппетов</a>

        <a class="btn btn-outline-warning" href="{% url 'snippets-mylist' %}">Мои сниппеты</a>

        <button type="button" class="btn btn-success position-relative">
            Логин: {{ request.user.username }}
        </button>

        <button type="submit" class="btn btn-outline-danger">Выйти</button>
    </li>
</form>