<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}

    <a class="btn btn-outline-secondary" href="{% url 'snippets-add' %}">Добавить сниппет</a>

    <a class="btn btn-outline-secondary" href="{% url 'snippets-stats' %}">Статистика</a>

    <a class="btn btn-outline-info" href="{% url 'snippets-list' %}">Cписок всех сниппетов</a>

    <a class="btn btn-outline-warning" href="{% url 'snippets-mylist' %}">Мои сниппеты</a>

    <a class="btn btn-outline-warning" href="{% url 'notifications' %}">
        <i class="fas fa-bell"></i> Уведомления
        <span id="notification-count" class="badge bg-danger ms-1">0</span>
    </a>


    <a class="btn btn-outline-light dropdown-toggle" href="#" id="userDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user"></i> {{ request.user.username }}
    </a>
    <div class="dropdown-menu dropdown-menu-end" style="min-width: 200px;">
        <a class="dropdown-item" href="{% url 'user-profile' %}">
            <i class="fas fa-user-circle"></i> Мой профиль
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-edit"></i> Редактировать профиль
        </a>
        <div class="dropdown-divider"></div>
         <button type="submit" class="dropdown-item" >
            <i class="fas fa-sign-out-alt"></i> Выйти
        </button>
    </div>

</form>
