{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            {% if edit %}
                <form action="{% url 'snippet-edit' id %}" method="post">
            {% else %}
                <form action="{% url 'snippets-add' %}" method="post">
            {% endif %}
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
            </form>
        </div>
    </div>
{% endblock %}