{% extends "base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <fieldset disabled>
   <div class="row disabled">
       <div class="col col-8">
           Название: <input type="text" value="{{ snippet.name }}" class="form-control">
       </div>
       <div class="col col-4">
           Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
       </div>
   </div>
   <hr>
</fieldset>
{% endblock %}