{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url 'snippet-page' snippet.id %}">{{ snippet.name }}</a></td>
                        <td>{{ snippet.creation_date}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: {{ snippets.count }}</i></div>
            </div>
        </div>
    </div>
 {% endblock %}
